# dependencies
node_modules/

# build output (vite builds to project root for EpixNet serving)
/assets/
/index.html
/xID.png

# old build output
/dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*.local
.env

# typescript
*.tsbuildinfo
